<h1>Free Wi-Fi Gate</h1>
@using (Html.BeginForm("Index", "Home", FormMethod.Get)) {
    <p class="cs"><b>Přihlášení se nezdařilo.</b> Byly zadány chybné údaje nebo se nepodařilo kontaktovat autentizační službu. Prosíme, zkuste to později nebo použijte jinou službu.</p>
    <p class="en"><b>Authentication failed.</b> Invalid login information or the authentication service cannot be contacted. Please, try again later or use different service.</p>
    <footer>
        <input type="submit" class="button" value="OK" />
    </footer>
}
