@model IEnumerable<WifiGateOptions.ProviderInfo>
<h1>Wi-Fi Gate</h1>
<p class="cs">Pro připojení k Internetu se prosím přihlašte pomocí některé z následujících služeb:</p>
<p class="en">Please login using one of the following services to access Internet:</p>
<ul class="svclist">
    @foreach (var item in this.Model) {
        <li><a asp-action="Login" asp-route-service="@item.Id">@item.Title</a></li>
    }
</ul>