<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Free Wi-Fi Gate</title>
    <link rel="stylesheet" href="~/css/site.css" type="text/css" />
</head>
<body>
    @RenderBody()
    <footer>
        Copyright &copy; Wi-Fi Gate, s. r. o., 2015
    </footer>
</body>
</html>
